/* AZIZ MAULANA at 2022/11/30 16:38:10 */

[class~=aziz-menu] {
    width: 30%;
}

[class~=aziz-menu] {
    height: 100%;
}

label[for="aziz-menu"],
.link-menusamping,
[class~=aziz-menu],
.link-menusamping {
    position: fixed;
}

.link-menusamping,
.link-menusamping,
[class~=aziz-menu] {
    top: 0;
}

html,
.link-menusamping {
    width: 100%;
}

label[for="aziz-menu"] {
    display: block;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-top-left-radius: 0;
}

html {
    min-height: auto;
}

html {
    font-size: 18.75pt;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-bottom-left-radius: 0;
}

html {
    font-family: "kausuhan";
}

#aziz-menu:checked~div[class~=aziz-menu] {
    transform: translate(0px);
}

[class~=aziz-menu] {
    visibility: hidden;
}

[class~=aziz-menu]>ul>li {
    font-size: 13px;
}

[class~=aziz-menu] {
    transform: translate(-110%);
}

[class~=aziz-menu] {
    z-index: 998;
}

html {
    background-image: url("/aziz-maulana/gambar/wp2757880-wallpaper-gif.gif");
}

html {
    margin-left: auto;
}

label[for="aziz-menu"] {
    top: 1.25pc;
}

#aziz-menu:checked+label span:nth-child(2) {
    transform: scale(0);
}

label[for="aziz-menu"],
[class~=aziz-menu] {
    background-color: #940000;
}

[class~=aziz-menu] {
    transition: 1s;
}

[class~=aziz-menu] {
    display: flex;
}

[class~=aziz-menu] {
    justify-content: center;
}

[class~=aziz-menu] {
    align-items: center;
}

label[for="aziz-menu"] {
    right: .208333333in;
}

#aziz-menu,
.link-menusamping {
    display: none;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-top-right-radius: .125pc;
}

[class~=aziz-menu] {
    font-weight: bold;
}

[class~=aziz-menu] {
    text-align: center;
}

#aziz-menu:checked~div[class~=aziz-menu] {
    visibility: visible;
}

[class~=aziz-menu],
label[for="aziz-menu"] {
    border-right-width: 1.5pt;
}

[class~=aziz-menu] {
    border-right-style: groove;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-bottom-right-radius: 1.5pt;
}

html {
    margin-bottom: auto;
}

[class~=aziz-menu] {
    border-right-color: #ff0;
}

[class~=aziz-menu] {
    border-image: none;
}

html {
    margin-right: auto;
}

label[for="aziz-menu"] {
    z-index: 999;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    transform-origin: left center;
}

label[for="aziz-menu"] {
    width: 60px;
}

html {
    margin-top: auto;
}

#aziz-menu:checked+label {
    background-color: transparent;
}

label[for="aziz-menu"] {
    height: 3.75pc;
}

html {
    background-repeat: no-repeat;
}

.link-menusamping,
.link-menusamping {
    left: 0;
}

.link-menusamping {
    height: 100%;
}

html {
    background-size: cover;
}

html {
    background-position: center;
}

html {
    background-attachment: fixed;
}

.link-menusamping {
    z-index: 997;
}

label[for="aziz-menu"] {
    border-radius: 15px;
}

html {
    scroll-behavior: smooth;
}

label[for="aziz-menu"] {
    border-left-width: .020833333in;
}

body {
    width: 100%;
}

.link-menusamping {
    opacity: 0;
}

.link-menusamping {
    visibility: hidden;
}

.link-menusamping,
[class~=daftar-menu] {
    transition: 500ms;
}

body {
    min-height: auto;
}

label[for="aziz-menu"] {
    border-bottom-width: .020833333in;
}

[class~=azizlogo],
[class~=daftar-menu] {
    display: block;
}

body {
    font-size: 18.75pt;
}

[class~=daftar-menu] {
    width: 17px;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-top-left-radius: 0;
}

[class~=maulana],
body {
    font-family: "kausuhan";
}

[class~=daftar-menu] {
    height: .020833333in;
}

[class~=aziz-menu]>ul>li {
    white-space: nowrap;
}

[class~=daftar-menu] {
    margin-left: 0;
}

[class~=daftar-menu] {
    margin-bottom: 3.75pt;
}

[class~=daftar-menu] {
    margin-right: 0;
}

body {
    background-image: url("/aziz-maulana/gambar/wp2757880-wallpaper-gif.gif");
}

[class~=daftar-menu] {
    margin-top: 10px;
}

[class~=daftar-menu] {
    border-top-left-radius: .020833333in;
}

[class~=daftar-menu] {
    border-bottom-left-radius: 1.5pt;
}

#aziz-menu:checked+label span:nth-child(5) {
    transform: scale(0);
}

body {
    margin-left: auto;
}

[class~=daftar-menu],
#aziz-menu:checked+label span {
    background-color: #ff0;
}

body {
    margin-bottom: auto;
}

#aziz-menu:checked+label,
label[for="aziz-menu"] {
    border-left-color: #ff0;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-bottom-left-radius: 0;
}

[class~=daftar-menu] {
    transform-origin: right center;
}

body {
    margin-right: auto;
}

label[for="aziz-menu"] {
    border-top-width: .020833333in;
}

#aziz-menu:checked+label,
label[for="aziz-menu"] {
    border-bottom-color: #ff0;
}

body {
    margin-top: auto;
}

[class~=azizlogo] {
    margin-left: auto;
}

label[for="aziz-menu"],
[class~=maulana] {
    border-left-style: groove;
}

label[for="aziz-menu"],
[class~=maulana] {
    border-bottom-style: groove;
}

[class~=azizlogo] {
    margin-right: auto;
}

body {
    background-repeat: no-repeat;
}

[class~=azizlogo] {
    margin-top: auto;
}

[class~=azizlogo] {
    margin-bottom: auto;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-top-right-radius: .125pc;
}

body {
    background-size: cover;
}

[class~=azizlogo] {
    width: 50%;
}

[class~=maulana],
label[for="aziz-menu"] {
    border-right-style: groove;
}

[class~=maulana] {
    text-align: justify;
}

[class~=aziz-menu]>ul>li {
    letter-spacing: .15em;
}

body {
    background-position: center;
}

body {
    background-attachment: fixed;
}

label[for="aziz-menu"],
#aziz-menu:checked+label {
    border-right-color: #ff0;
}

[class~=maulana] {
    color: white;
}

body {
    scroll-behavior: smooth;
}

label[for="aziz-menu"],
[class~=maulana] {
    border-top-style: groove;
}

[class~=maulana] {
    margin-left: 10%;
}

#aziz-menu:checked~div[class~=link-menusamping] {
    display: block;
}

a {
    font-size: 1.125pc;
}

[class~=aziz-menu]>ul>li {
    cursor: pointer;
}

[class~=maulana] {
    margin-right: 10%;
}

[class~=maulana] {
    font-size: .260416667in;
}

#aziz-menu:checked+label,
label[for="aziz-menu"] {
    border-top-color: #ff0;
}

[class~=maulana] {
    border-left-width: 3.75pt;
}

a {
    font-family: "kausuhan";
}

a {
    display: inline;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-bottom-right-radius: 1.5pt;
}

[class~=maulana] {
    border-bottom-width: 3.75pt;
}

[class~=maulana] {
    border-right-width: 3.75pt;
}

[class~=maulana] {
    border-top-width: 3.75pt;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    transform-origin: left center;
}

label[for="aziz-menu"] {
    border-image: none;
}

a {
    font-weight: bold;
}

[class~=maulana] {
    border-left-color: yellow;
}

a {
    text-decoration: none;
}

[class~=maulana] {
    border-bottom-color: yellow;
}

[class~=aziz-menu]>ul,
[for="aziz-menu"]>div {
    display: flex;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-top-left-radius: 0;
}

[class~=aziz-menu]>ul {
    flex-flow: column nowrap;
}

[class~=aziz-menu]>ul {
    justify-content: space-around;
}

[class~=aziz-menu]>ul {
    padding-left: .208333333in;
}

[class~=maulana] {
    border-right-color: yellow;
}

a {
    padding-left: 5.25pt;
}

a {
    padding-bottom: 5.25pt;
}

[class~=aziz-menu]>ul {
    padding-bottom: .208333333in;
}

[class~=maulana] {
    border-top-color: yellow;
}

[class~=maulana] {
    border-image: none;
}

[class~=maulana] {
    padding-left: .15625in;
}

[class~=maulana] {
    padding-right: .15625in;
}

a {
    padding-right: 5.25pt;
}

[class~=maulana] {
    padding-top: .15625in;
}

[class~=aziz-menu]>ul {
    padding-right: .208333333in;
}

a {
    padding-top: 5.25pt;
}

[class~=maulana] {
    padding-bottom: .9375pc;
}

[class~=maulana] {
    border-radius: .208333333in;
}

[class~=maulana] {
    background-color: rgba(128, 0, 0, .507);
}

h1,
[class~=maulana] {
    scroll-behavior: smooth;
}

h1,
a {
    color: white;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-bottom-left-radius: 0;
}

h1 {
    text-align: center;
}

[class~=aziz-menu]>ul>li {
    color: #940000;
}

[class~=aziz-menu]>ul {
    padding-top: .208333333in;
}

[class~=aziz-menu]>ul {
    height: 1%;
}

h1 {
    background-color: #940000;
}

[for="aziz-menu"]>div {
    width: 100%;
}

[for="aziz-menu"]>div {
    height: 100%;
}

#aziz-menu:checked~div[class~=link-menusamping] {
    opacity: 1;
}

h1 {
    font-style: italic;
}

h1 {
    font-family: autum;
}

[for="aziz-menu"]>div {
    flex-flow: column wrap;
}

[for="aziz-menu"]>div {
    align-content: center;
}

[for="aziz-menu"]>div {
    align-items: center;
}

#aziz-menu:checked+label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-top-right-radius: .125pc;
}

h1 {
    font-size: 2.5pc;
}

img {
    width: 6.25in;
}

img {
    height: 2.604166667in;
}

img {
    border-radius: 4.375pc;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-bottom-right-radius: 1.5pt;
}

#aziz-menu:checked~div[class~=link-menusamping] {
    visibility: visible;
}

#aziz-menu:checked+label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}

[for="aziz-menu"]>div>span:nth-child(6) {
    transform-origin: left center;
}

#aziz-menu:checked+label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

#aziz-menu:checked+label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}

@media (min-width: 400px) and (max-width: 1300px) {
    [class~=maulana] {
        width: auto;
    }
    img {
        width: 90%;
    }
    [class~=maulana],
    img {
        padding-left: 5%;
    }
    [class~=maulana] {
        font-size: .9375pc;
    }
    [class~=maulana],
    img {
        padding-right: 5%;
    }
    [class~=maulana] {
        margin-left: 2%;
    }
    h1,
    img {
        margin-left: 0%;
    }
    img,
    h1 {
        margin-right: 0%;
    }
    [class~=maulana] {
        margin-right: 2%;
    }
    h1 {
        width: auto;
    }
    h1 {
        margin-top: .208333333in;
    }
    h1 {
        font-size: 23px;
    }
    h1 {
        padding-left: 0%;
    }
    h1 {
        padding-right: 0%;
    }
    h1,
    [class~=maulana] {
        scroll-behavior: smooth;
    }
    [class~=aziz-menu],
    a {
        font-size: auto;
    }
    [class~=aziz-menu] {
        width: 60%;
    }
    .azizlogo {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    [class~=maulana] {
        width: auto;
    }
    img {
        width: 90%;
    }
    [class~=maulana],
    img {
        padding-left: 5%;
    }
    img,
    [class~=maulana] {
        padding-right: 5%;
    }
    img,
    h1 {
        margin-left: 0%;
    }
    img,
    h1 {
        margin-right: 0%;
    }
    h1 {
        width: auto;
    }
    h1 {
        margin-top: 1.25pc;
    }
    [class~=maulana] {
        font-size: 11.25pt;
    }
    h1 {
        font-size: .239583333in;
    }
    [class~=maulana] {
        margin-left: 2%;
    }
    [class~=maulana] {
        margin-right: 2%;
    }
    h1 {
        padding-left: 0%;
    }
    h1 {
        padding-right: 0%;
    }
    [class~=maulana],
    h1 {
        scroll-behavior: smooth;
    }
    .aziz-menu,
    a {
        font-size: auto;
    }
    .aziz-menu {
        width: 60%;
    }
    [class~=azizlogo] {
        width: 30%;
    }
}

@font-face {
    font-family: "autum";
    src: url("/aziz-maulana/font/autum.otf");
}

@font-face {
    font-family: "kausuhan";
    src: url("/aziz-maulana/font/kausuhan.otf");
}

@font-face {
    font-family: "selena";
    src: url("/aziz-maulana/font/Selena.ttf");
}