/* AZIZ MAULANA at 2022/11/30 16:38:10 */

[class~=aziz-menu] {
    width: 30%;
}

[class~=aziz-menu] {
    height: 100%;
}

html {
    width: 100%;
}

label[for="aziz-menu"],
[class~=aziz-menu],
[class~=link-menusamping],
[class~=link-menusamping] {
    position: fixed;
}

[class~=link-menusamping],
[class~=aziz-menu],
[class~=link-menusamping] {
    top: 0;
}

label[for="aziz-menu"] {
    display: block;
}

[class~=aziz-menu] {
    visibility: hidden;
}

[class~=aziz-menu] {
    transform: translate(-110%);
}

[class~=aziz-menu] {
    z-index: 998;
}

html {
    min-height: auto;
}

label[for="aziz-menu"],
[class~=aziz-menu] {
    background-color: #940000;
}

html {
    font-size: .260416667in;
}

[class~=aziz-menu] {
    transition: 1s;
}

[class~=aziz-menu] {
    display: flex;
}

html {
    font-family: "kausuhan";
}

label[for="aziz-menu"] {
    top: 20px;
}

[class~=aziz-menu] {
    justify-content: center;
}

html {
    background-image: url("/aziz-maulana/gambar/wp2757880-wallpaper-gif.gif");
}

label[for="aziz-menu"] {
    right: 1.25pc;
}

label[for="aziz-menu"] {
    z-index: 999;
}

[for="aziz-menu"]>div>span:nth-child(4),
[for="aziz-menu"]>div>span:nth-child(5) {
    border-top-left-radius: 0;
}

label[for="aziz-menu"] {
    width: .625in;
}

.aziz-menu>ul>li {
    font-size: .135416667in;
}

html {
    margin-left: auto;
}

html {
    margin-bottom: auto;
}

html {
    margin-right: auto;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-bottom-left-radius: 0;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-top-right-radius: .125pc;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    border-bottom-right-radius: .125pc;
}

label[for="aziz-menu"] {
    height: 60px;
}

[class~=aziz-menu] {
    align-items: center;
}

[class~=aziz-menu] {
    font-weight: bold;
}

html {
    margin-top: auto;
}

[class~=aziz-menu] {
    text-align: center;
}

html {
    background-repeat: no-repeat;
}

[class~=aziz-menu],
label[for="aziz-menu"] {
    border-right-width: .020833333in;
}

[class~=aziz-menu] {
    border-right-style: groove;
}

[class~=aziz-menu] {
    border-right-color: #ff0;
}

label[for="aziz-menu"] {
    border-radius: 11.25pt;
}

html {
    background-size: cover;
}

[class~=aziz-menu] {
    border-image: none;
}

html {
    background-position: center;
}

#aziz-menu:checked~div[class~=aziz-menu] {
    transform: translate(0px);
}

[class~=link-menusamping],
[class~=link-menusamping] {
    left: 0;
}

[for="aziz-menu"]>div>span:nth-child(4) {
    transform-origin: left center;
}

[class~=link-menusamping],
body {
    width: 100%;
}

[class~=link-menusamping] {
    height: 100%;
}

html {
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

label[for="aziz-menu"] {
    border-left-width: 1.5pt;
}

label[for="aziz-menu"] {
    border-bottom-width: 1.5pt;
}

[class~=link-menusamping] {
    z-index: 997;
}

.aziz-menu>ul>li {
    white-space: nowrap;
}

body {
    min-height: auto;
}

#aziz-menu:checked+label {
    background-color: transparent;
}

[class~=link-menusamping] {
    opacity: 0;
}

[class~=link-menusamping] {
    visibility: hidden;
}

body {
    font-size: .260416667in;
}

[class~=toko],
body {
    font-family: "kausuhan";
}

label[for="aziz-menu"] {
    border-top-width: 1.5pt;
}

[class~=link-menusamping],
#aziz-menu {
    display: none;
}

[class~=daftar-menu],
[class~=link-menusamping] {
    transition: 500ms;
}

.aziz-menu>ul>li {
    letter-spacing: .15em;
}

[class~=daftar-menu],
[class~=azizlogo] {
    display: block;
}

[class~=daftar-menu] {
    width: 12.75pt;
}

[class~=daftar-menu] {
    height: 2px;
}

[class~=daftar-menu] {
    margin-left: 0;
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-bottom-left-radius: 0;
}

#aziz-menu:checked+label,
label[for="aziz-menu"] {
    border-left-color: #ff0;
}

[class~=daftar-menu] {
    margin-bottom: .3125pc;
}

body {
    background-image: url("/aziz-maulana/gambar/wp2757880-wallpaper-gif.gif");
}

[for="aziz-menu"]>div>span:nth-child(5) {
    border-top-right-radius: .125pc;
}

[class~=daftar-menu] {
    margin-right: 0;
}

[class~=daftar-menu] {
    margin-top: .625pc;
}

[class~=daftar-menu] {
    border-top-left-radius: .020833333in;
}

[class~=daftar-menu] {
    border-bottom-left-radius: 2px;
}

[class~=daftar-menu] {
    background-color: #ff0;
}

[class~=daftar-menu] {
    transform-origin: right center;
}

body {
    margin-left: auto;
}

label[for="aziz-menu"] {
    border-left-style: groove;
}

body {
    margin-bottom: auto;
}

[class~=azizlogo] {
    margin-left: auto;
}

[class~=azizlogo] {
    margin-right: auto;
}

[class~=azizlogo] {
    margin-top: auto;
}

[class~=azizlogo] {
    margin-bottom: auto;
}

[class~=azizlogo] {
    width: 50%;
}

label[for="aziz-menu"] {
    border-bottom-style: groove;
}

[class~=toko] {
    width: auto;
}

[class~=toko] {
    height: auto;
}

[class~=toko] {
    margin-left: 5%;
}

[class~=toko] {
    margin-right: 5%;
}

body {
    margin-right: auto;
}

label[for="aziz-menu"] {
    border-right-style: groove;
}

[class~=toko] {
    border-top-width: .052083333in;
}

body {
    margin-top: auto;
}

[class~=toko],
label[for="aziz-menu"] {
    border-top-style: groove;
}

[class~=toko] {
    border-top-color: yellow;
}

[class~=toko] {
    border-image: none;
}

[class~=toko] {
    border-left-width: .3125pc;
}

[class~=toko] {
    border-left-style: groove;
}

[class~=toko] {
    border-left-color: yellow;
}

[class~=toko] {
    border-right-width: 3.75pt;
}

[class~=toko] {
    border-right-style: groove;
}

[class~=toko] {
    border-right-color: yellow;
}

body {
    background-repeat: no-repeat;
}

label[for="aziz-menu"] {
    border-bottom-color: #ff0;
}

[class~=toko] {
    padding-left: .3125pc;
}

[class~=toko] {
    padding-right: .052083333in;
}

[class~=toko] {
    border-radius: 1.25pc;
}

[class~=toko] {
    background-color: rgba(128, 0, 0, .507);
}

[for="aziz-menu"]>div>span:nth-child(6),
[for="aziz-menu"]>div>span:nth-child(5) {
    border-bottom-right-radius: .125pc;
}

.nama,
body,
[class~=toko] {
    scroll-behavior: smooth;
}

[class~=toko],
[for="aziz-menu"]>div,
[class~=aziz-menu]>ul,
.nama {
    display: flex;
}

[class~=judul],
.nama {
    width: 100%;
}

.nama,
a {
    font-family: "kausuhan";
}

.nama {
    margin-left: 3%;
}

body {
    background-size: cover;
}

[for="aziz-menu"]>div>span:nth-child(6),
[for="aziz-menu"]>div>span:nth-child(5) {
    transform-origin: left center;
}

label[for="aziz-menu"] {
    border-right-color: #ff0;
}

.nama {
    margin-right: 3%;
}

.nama {
    padding-left: 3px;
}

body {
    background-position: center;
}

.nama {
    padding-right: 3px;
}

body {
    background-attachment: fixed;
}

.nama {
    margin-bottom: 3%;
}

label[for="aziz-menu"] {
    border-top-color: #ff0;
}

.nama {
    border-bottom-width: 5px;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-top-left-radius: 0;
}

.nama {
    border-bottom-style: dotted;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-bottom-left-radius: 0;
}

.nama {
    border-bottom-color: yellow;
}

.nama,
label[for="aziz-menu"] {
    border-image: none;
}

[for="aziz-menu"]>div>span:nth-child(6) {
    border-top-right-radius: .125pc;
}

.nama {
    border-left-style: none;
}

.p2,
a {
    font-size: 18px;
}

.nama {
    border-right-style: none;
}

.nama {
    border-top-style: none;
}

[class~=aziz-menu]>ul {
    flex-flow: column nowrap;
}

[class~=harga],
a {
    display: inline;
}

.nama {
    border-left-width: medium;
}

.nama {
    border-left-color: currentColor;
}

.nama {
    border-right-width: medium;
}

.nama {
    border-right-color: currentColor;
}

[class~=aziz-menu]>ul {
    justify-content: space-around;
}

a {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.nama {
    border-top-width: medium;
}

.nama {
    border-top-color: currentColor;
}

.p2,
[class~=judul] {
    text-align: left;
}

a {
    padding-left: .072916667in;
}

[class~=aziz-menu]>ul {
    padding-left: 15pt;
}

[class~=aziz-menu]>ul {
    padding-bottom: 15pt;
}

a {
    padding-bottom: .072916667in;
}

[class~=aziz-menu]>ul {
    padding-right: 15pt;
}

[class~=aziz-menu]>ul {
    padding-top: 15pt;
}

[class~=aziz-menu]>ul {
    height: 1%;
}

a {
    padding-right: .072916667in;
}

[class~=harga] {
    font-size: 15pt;
}

[for="aziz-menu"]>div {
    width: 100%;
}

a {
    padding-top: .072916667in;
}

h1,
a,
[class~=harga],
[class~=deskripsi] {
    color: white;
}

[class~=harga] {
    text-align: center;
}

[class~=deskripsi] {
    text-align: justify;
}

#aziz-menu:checked+label {
    border-bottom-color: #ff0;
}

[class~=deskripsi] {
    width: auto;
}

[class~=deskripsi] {
    height: auto;
}

[class~=klik],
[class~=deskripsi],
h1 {
    font-family: "kausuhan";
}

[for="aziz-menu"]>div {
    height: 100%;
}

[class~=deskripsi] {
    margin-left: 5%;
}

[class~=deskripsi] {
    margin-right: 5%;
}

[class~=deskripsi] {
    border-left-width: 3.75pt;
}

[class~=deskripsi] {
    border-left-style: groove;
}

[class~=deskripsi] {
    border-left-color: yellow;
}

[class~=deskripsi] {
    border-image: none;
}

[class~=deskripsi] {
    border-right-width: 3.75pt;
}

#aziz-menu:checked+label span:nth-child(2),
#aziz-menu:checked+label span:nth-child(5) {
    transform: scale(0);
}

[class~=deskripsi],
[class~=klik] {
    border-right-style: groove;
}

[class~=deskripsi] {
    border-right-color: yellow;
}

[class~=deskripsi] {
    border-bottom-width: 5px;
}

[class~=deskripsi],
[class~=klik] {
    border-bottom-style: groove;
}

[for="aziz-menu"]>div {
    flex-flow: column wrap;
}

[class~=deskripsi],
[class~=klik] {
    border-bottom-color: yellow;
}

.aziz-menu>ul>li {
    cursor: pointer;
}

[class~=deskripsi] {
    padding-left: 5%;
}

[class~=deskripsi] {
    padding-right: 5%;
}

h1 {
    font-style: italic;
}

[class~=deskripsi] {
    padding-bottom: 2%;
}

[class~=deskripsi],
[class~=klik] {
    border-radius: 20px;
}

[class~=deskripsi] {
    font-size: 18px;
}

[class~=deskripsi] {
    background-color: rgba(128, 0, 0, .507);
}

#aziz-menu:checked+label {
    border-right-color: #ff0;
}

[class~=deskripsi],
h1 {
    scroll-behavior: smooth;
}

[class~=desk1] {
    font-size: .260416667in;
}

[for="aziz-menu"]>div {
    align-content: center;
}

[for="aziz-menu"]>div {
    align-items: center;
}

[class~=desk1],
[class~=klik] {
    text-align: center;
}

[class~=desk1] {
    letter-spacing: 6pt;
}

#aziz-menu:checked~div[class~=aziz-menu],
#aziz-menu:checked~div.link-menusamping {
    visibility: visible;
}

h1 {
    font-size: 1.875pc;
}

img {
    width: 230px;
}

[class~=klik] {
    background: #940000;
}

#aziz-menu:checked~div.link-menusamping {
    display: block;
}

[class~=klik] {
    height: 26.25pt;
}

[class~=klik] {
    width: 100%;
}

.aziz-menu>ul>li {
    color: #940000;
}

img {
    height: 230px;
}

[class~=klik],
p {
    color: white;
}

[class~=klik] {
    font-size: 20px;
}

img {
    padding-right: 1%;
}

[class~=klik] {
    border-left-width: .125pc;
}

[class~=klik] {
    border-bottom-width: .125pc;
}

[class~=klik] {
    border-right-width: .125pc;
}

[class~=klik] {
    border-top-width: .125pc;
}

#aziz-menu:checked+label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

[class~=klik] {
    border-left-style: groove;
}

[class~=klik] {
    border-top-style: groove;
}

[class~=klik] {
    border-left-color: yellow;
}

[class~=klik] {
    border-right-color: yellow;
}

[class~=klik] {
    border-top-color: yellow;
}

[class~=klik] {
    border-image: none;
}

img {
    float: left;
}

p {
    text-align: justify;
}

#aziz-menu:checked+label {
    border-top-color: #ff0;
}

#aziz-menu:checked+label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}

#aziz-menu:checked~div.link-menusamping {
    opacity: 1;
}

#aziz-menu:checked+label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

#aziz-menu:checked+label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}

#aziz-menu:checked+label span {
    background-color: #ff0;
}

@media (min-width: 400px) and (max-width: 1300px) {
    .toko {
        width: auto;
    }
    .toko {
        height: auto;
    }
    .deskripsi,
    .toko,
    .nama,
    h1 {
        font-family: "kausuhan";
    }
    .toko {
        margin-left: 5%;
    }
    h1 {
        color: white;
    }
    .toko {
        margin-right: 5%;
    }
    .toko {
        border-top-width: 5px;
    }
    .toko {
        border-top-style: groove;
    }
    .toko {
        border-top-color: yellow;
    }
    .toko {
        border-image: none;
    }
    .toko {
        border-left-width: .052083333in;
    }
    .toko {
        border-left-style: groove;
    }
    .toko {
        border-left-color: yellow;
    }
    .toko {
        border-right-width: .052083333in;
    }
    .toko {
        border-right-style: groove;
    }
    .toko {
        border-right-color: yellow;
    }
    .toko {
        padding-left: .3125pc;
    }
    h1 {
        font-style: italic;
    }
    .toko {
        padding-right: .052083333in;
    }
    .toko {
        border-radius: 15pt;
    }
    .toko {
        background-color: rgba(128, 0, 0, .507);
    }
    h1,
    .nama,
    .toko {
        scroll-behavior: smooth;
    }
    .nama,
    .toko {
        display: flex;
    }
    [class~=judul],
    .nama {
        width: 100%;
    }
    .nama {
        margin-left: 3%;
    }
    .nama {
        margin-right: 3%;
    }
    .nama {
        padding-left: .1875pc;
    }
    .nama {
        padding-right: .03125in;
    }
    h1 {
        font-size: 30px;
    }
    .nama {
        margin-bottom: 3%;
    }
    .nama {
        border-bottom-width: .052083333in;
    }
    .nama {
        border-bottom-style: dotted;
    }
    .nama {
        border-bottom-color: yellow;
    }
    .nama {
        border-image: none;
    }
    img {
        width: 187.5pt;
    }
    .nama {
        border-left-style: none;
    }
    img {
        height: 17.5pc;
    }
    .nama {
        border-right-style: none;
    }
    .nama {
        border-top-style: none;
    }
    img {
        padding-right: 1%;
    }
    .nama {
        border-left-width: medium;
    }
    .nama {
        border-left-color: currentColor;
    }
    img {
        float: right;
    }
    .nama {
        border-right-width: medium;
    }
    p {
        text-align: justify;
    }
    .nama {
        border-right-color: currentColor;
    }
    .nama {
        border-top-width: medium;
    }
    .nama {
        border-top-color: currentColor;
    }
    .p2,
    [class~=judul] {
        text-align: left;
    }
    [class~=harga],
    .deskripsi,
    p,
    .klik {
        color: white;
    }
    .p2 {
        font-size: 18px;
    }
    [class~=harga] {
        font-size: 20px;
    }
    [class~=harga] {
        display: inline;
    }
    [class~=harga] {
        text-align: center;
    }
    .deskripsi {
        text-align: justify;
    }
    p {
        padding-bottom: .75pt;
    }
    .deskripsi {
        width: auto;
    }
    .deskripsi {
        height: auto;
    }
    .deskripsi {
        margin-left: 5%;
    }
    .deskripsi {
        margin-right: 5%;
    }
    a {
        font-size: auto;
    }
    .deskripsi {
        border-left-width: .052083333in;
    }
    .deskripsi {
        border-left-style: groove;
    }
    .deskripsi {
        border-left-color: yellow;
    }
    .deskripsi {
        border-image: none;
    }
    .deskripsi {
        border-right-width: 3.75pt;
    }
    .deskripsi,
    .klik {
        border-right-style: groove;
    }
    .deskripsi,
    .klik {
        border-right-color: yellow;
    }
    .deskripsi {
        border-bottom-width: 3.75pt;
    }
    .deskripsi,
    .klik {
        border-bottom-style: groove;
    }
    .deskripsi,
    .klik {
        border-bottom-color: yellow;
    }
    .deskripsi {
        padding-left: 5%;
    }
    .deskripsi {
        padding-right: 5%;
    }
    .deskripsi {
        padding-bottom: 2%;
    }
    .deskripsi,
    .klik {
        border-radius: .208333333in;
    }
    .deskripsi {
        font-size: 1.125pc;
    }
    .deskripsi {
        background-color: rgba(128, 0, 0, .507);
    }
    .deskripsi {
        scroll-behavior: smooth;
    }
    .desk1 {
        font-size: 18.75pt;
    }
    .klik,
    .desk1 {
        text-align: center;
    }
    .desk1 {
        letter-spacing: .5pc;
    }
    .klik {
        background: #940000;
    }
    .klik {
        height: 26.25pt;
    }
    .klik {
        width: 100%;
    }
    .klik {
        font-family: "kausuhan";
    }
    .klik {
        font-size: 20px;
    }
    .klik {
        border-left-width: .125pc;
    }
    .klik {
        border-bottom-width: .125pc;
    }
    .klik {
        border-right-width: .125pc;
    }
    .klik {
        border-top-width: .125pc;
    }
    .klik {
        border-left-style: groove;
    }
    .klik {
        border-top-style: groove;
    }
    .klik {
        border-left-color: yellow;
    }
    .klik {
        border-top-color: yellow;
    }
    .klik {
        border-image: none;
    }
    [class~=aziz-menu] {
        width: 60%;
    }
    [class~=aziz-menu] {
        font-size: auto;
    }
    [class~=azizlogo] {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    [class~=toko] {
        width: auto;
    }
    [class~=toko] {
        height: auto;
    }
    [class~=deskripsi],
    [class~=nama],
    [class~=toko],
    h1 {
        font-family: "kausuhan";
    }
    [class~=toko] {
        margin-left: 5%;
    }
    [class~=toko] {
        margin-right: 5%;
    }
    [class~=toko] {
        border-top-width: 5px;
    }
    [class~=toko] {
        border-top-style: groove;
    }
    [class~=toko] {
        border-top-color: yellow;
    }
    [class~=toko] {
        border-image: none;
    }
    [class~=toko] {
        border-left-width: 5px;
    }
    [class~=toko] {
        border-left-style: groove;
    }
    [class~=toko] {
        border-left-color: yellow;
    }
    [class~=toko] {
        border-right-width: 5px;
    }
    [class~=toko] {
        border-right-style: groove;
    }
    [class~=toko] {
        border-right-color: yellow;
    }
    [class~=toko] {
        padding-left: .052083333in;
    }
    [class~=toko] {
        padding-right: 5px;
    }
    [class~=toko] {
        border-radius: 20px;
    }
    [class~=harga],
    [class~=deskripsi],
    h1,
    [class~=klik] {
        color: white;
    }
    [class~=toko] {
        background-color: rgba(128, 0, 0, .507);
    }
    [class~=deskripsi],
    [class~=toko],
    h1,
    [class~=nama] {
        scroll-behavior: smooth;
    }
    h1 {
        font-style: italic;
    }
    [class~=nama],
    [class~=toko] {
        display: flex;
    }
    [class~=nama],
    [class~=judul] {
        width: 100%;
    }
    [class~=nama] {
        margin-left: 3%;
    }
    [class~=nama] {
        margin-right: 3%;
    }
    [class~=nama] {
        padding-left: .03125in;
    }
    [class~=nama] {
        padding-right: 2.25pt;
    }
    [class~=nama] {
        margin-bottom: 3%;
    }
    [class~=nama] {
        border-bottom-width: 5px;
    }
    [class~=nama] {
        border-bottom-style: dotted;
    }
    [class~=nama] {
        border-bottom-color: yellow;
    }
    [class~=nama] {
        border-image: none;
    }
    h1 {
        font-size: 15px;
    }
    [class~=nama] {
        border-left-style: none;
    }
    [class~=nama] {
        border-right-style: none;
    }
    [class~=nama] {
        border-top-style: none;
    }
    [class~=nama] {
        border-left-width: medium;
    }
    [class~=nama] {
        border-left-color: currentColor;
    }
    [class~=nama] {
        border-right-width: medium;
    }
    [class~=nama] {
        border-right-color: currentColor;
    }
    [class~=nama] {
        border-top-width: medium;
    }
    [class~=nama] {
        border-top-color: currentColor;
    }
    img {
        width: 140px;
    }
    [class~=judul],
    [class~=p2] {
        text-align: left;
    }
    img {
        height: 1.5625in;
    }
    [class~=p2] {
        font-size: 10px;
    }
    img {
        padding-left: 1%;
    }
    [class~=harga] {
        font-size: .9375pc;
    }
    [class~=harga] {
        display: block;
    }
    [class~=harga] {
        text-align: center;
    }
    [class~=deskripsi],
    p {
        text-align: justify;
    }
    [class~=deskripsi] {
        width: auto;
    }
    [class~=deskripsi] {
        height: auto;
    }
    [class~=deskripsi] {
        margin-left: 5%;
    }
    [class~=deskripsi] {
        margin-right: 5%;
    }
    [class~=deskripsi] {
        border-left-width: .3125pc;
    }
    [class~=deskripsi] {
        border-left-style: groove;
    }
    [class~=deskripsi] {
        border-left-color: yellow;
    }
    img {
        float: left;
    }
    [class~=deskripsi] {
        border-image: none;
    }
    [class~=deskripsi] {
        border-right-width: 3.75pt;
    }
    [class~=deskripsi],
    [class~=klik] {
        border-right-style: groove;
    }
    [class~=klik],
    [class~=deskripsi] {
        border-right-color: yellow;
    }
    [class~=deskripsi] {
        border-bottom-width: .3125pc;
    }
    [class~=klik],
    [class~=deskripsi] {
        border-bottom-style: groove;
    }
    [class~=deskripsi],
    [class~=klik] {
        border-bottom-color: yellow;
    }
    [class~=deskripsi] {
        padding-left: 5%;
    }
    [class~=deskripsi] {
        padding-right: 5%;
    }
    [class~=deskripsi] {
        padding-bottom: 2%;
    }
    [class~=deskripsi],
    [class~=klik] {
        border-radius: 20px;
    }
    [class~=deskripsi] {
        font-size: .8125pc;
    }
    [class~=deskripsi] {
        background-color: rgba(128, 0, 0, .507);
    }
    [class~=desk1],
    [class~=klik] {
        font-size: .9375pc;
    }
    [class~=klik],
    [class~=desk1] {
        text-align: center;
    }
    [class~=desk1] {
        letter-spacing: .5pc;
    }
    [class~=klik] {
        background: #940000;
    }
    [class~=klik] {
        height: 2.1875pc;
    }
    [class~=klik] {
        width: 100%;
    }
    [class~=klik] {
        font-family: "kausuhan";
    }
    [class~=klik] {
        border-left-width: .125pc;
    }
    [class~=klik] {
        border-bottom-width: .125pc;
    }
    [class~=klik] {
        border-right-width: .125pc;
    }
    p {
        color: white;
    }
    [class~=klik] {
        border-top-width: .125pc;
    }
    [class~=klik] {
        border-left-style: groove;
    }
    [class~=klik] {
        border-top-style: groove;
    }
    [class~=klik] {
        border-left-color: yellow;
    }
    [class~=klik] {
        border-top-color: yellow;
    }
    [class~=klik] {
        border-image: none;
    }
    [class~=aziz-menu] {
        width: 60%;
    }
    [class~=aziz-menu],
    a {
        font-size: auto;
    }
    .azizlogo {
        width: 30%;
    }
    p {
        padding-bottom: .010416667in;
    }
}

@font-face {
    font-family: "autum";
    src: url("/aziz-maulana/font/autum.otf");
}

@font-face {
    font-family: "kausuhan";
    src: url("/aziz-maulana/font/kausuhan.otf");
}

@font-face {
    font-family: "selena";
    src: url("/aziz-maulana/font/Selena.ttf");
}